* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  color: #555;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 100;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

main {
  width: 100%;
  max-width: 1170px;
  margin: 50px auto;
  overflow: hidden; }

footer {
  background: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px; }

nav {
  float: right;
  line-height: 35px; }

a {
  text-decoration: none;
  color: #555; }

a:hover {
  opacity: .8;
  color: #f9d761;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

input, textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Lato', 'sans-serif';
  color: #898989;
  text-transform: uppercase;
  background: #f3f3f3;
  outline: none;
  border: solid 1px #f3f3f3;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

textarea {
  width: 97%;
  height: 120px;
  padding: 15px; }

input:hover, textarea:hover {
  background: transparent; }

select {
  width: 30%;
  height: 45px;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 10px;
  font-family: 'Maven Pro', 'sans-serif';
  color: #898989;
  border: solid 1px #d7d7d7;
  -webkit-appearance: none;
  border-radius: 0;
  background: white url("../img/arrow-down.png") no-repeat right center; }

.easing {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.desaturate {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%); }

.headerWrap {
  width: 85%;
  max-width: 1170px;
  margin: auto; }

.logo {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 40px;
  width: 40px;
  float: left;
  margin: 10px 0; }
  .logo img {
    width: 100%; }
  .logo .logo-png {
    display: block; }
  .logo .logo-gif {
    display: none; }
  .logo:hover .logo-png {
    display: none; }
  .logo:hover .logo-gif {
    display: block; }

.menu-toggle {
  position: relative;
  float: right;
  top: 24px;
  cursor: pointer; }

#navList2 {
  display: none;
  position: fixed;
  top: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 0 30px;
  text-align: center;
  z-index: 100;
  margin: 0;
  overflow: hidden; }

#navList2 li {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  list-style-type: none;
  padding: 15px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer; }

#navList2 li:hover {
  color: #fff45c; }

#navList li {
  display: inline;
  list-style-type: none;
  padding-right: 20px; }

.indexBg {
  background: url("../../img/indexBg.jpg") no-repeat center center; }

.aboutBg {
  background: url("../../img/aboutBg.jpg") no-repeat center center; }

.contactBg {
  background: url("../../img/contactBg.jpg") no-repeat center center; }

.myTrendsBg {
  background: url("../../img/works/myTrends/myTrendscover.jpg") no-repeat right center; }

.wellfestBg {
  background: url("../../img/works/wellfest/wellfest-cover.jpg") no-repeat center center; }

.t2Bg {
  background: url("../../img/works/T2/T2cover.jpg") no-repeat center center; }

.friendsBg {
  background: url("../../img/works/friends/friends-cover.jpg") no-repeat center center; }

.oasisCdBg {
  background: url("../../img/works/CD/oasiscd-cover.jpg") no-repeat center center; }

.slideShowWrap {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-size: cover;
  position: relative; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  top: 0;
  z-index: 50;
  cursor: pointer; }

.close-menu {
  display: block;
  opacity: 0.6; }

.see-more-works {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #444;
  width: 100%;
  max-width: 500px;
  margin: 30px auto 0;
  padding: 20px;
  text-align: center;
  color: white; }
  .see-more-works:hover {
    opacity: .8;
    color: #f9d761; }

/*================================LAYOUT ALIGNMENT=======================================*/
/*================================LAYOUT ALIGNMENT END=======================================*/
/*---------------------------------------FONT-------------------------------------*/
h1 {
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 3em;
  font-weight: 900; }

h2 {
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 2em;
  font-weight: bold;
  margin: 0; }

h3 {
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 1.2em;
  margin: 0; }

h4 {
  font-family: 'Lato', 'sans-serif';
  font-style: italic;
  font-weight: 300;
  font-size: 1.5em;
  margin: 1.5em auto 1em; }

p {
  font-family: 'Lato', 'sans-serif';
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 20px; }

ul {
  font-family: 'Lato', 'sans-serif';
  font-weight: 300;
  font-size: 1.2rem; }

.navFont, .menu-text {
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 1em;
  font-weight: bold; }

.subLine {
  font-family: 'Rosario', 'sans-serif';
  font-style: italic; }

.whiteText {
  color: #fff; }

.blackText {
  color: #555; }

.textCenterAlign {
  width: 100%;
  text-align: center; }

.gradient-mask-text {
  background: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #61c2ff), color-stop(100%, #cd4444));
  background: -webkit-linear-gradient(-45deg, #61c2ff 0%, #cd4444 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; }

.cover-title {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  width: 55%;
  max-width: 750px;
  margin: -12% auto 0; }

/*---------------------------------------FONT END-------------------------------------*/
/*---------------------------------------BUTTON-------------------------------------*/
button {
  font-family: 'Rosario', 'sans-serif';
  font-style: italic;
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 13px 70px;
  background-color: transparent;
  margin: 5px 30px;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn1 {
  background-color: #555; }

button:hover {
  background-color: rgba(0, 0, 0, 0.3); }

/*------menubtn-------*/
.lines-button {
  display: inline-block;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  user-select: none;
  border-radius: 0.21429rem;
  -webkit-appearance: none;
  margin-left: 10px; }

.lines {
  display: inline-block;
  width: 1.5rem;
  height: 0.1875rem;
  background: #fff;
  transition: 0.3s;
  position: relative;
  top: -5px; }

.lines:before, .lines:after {
  display: inline-block;
  width: 1.5rem;
  height: 0.1875rem;
  background: #fff;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.10714rem center;
  -ms-transform-origin: 0.10714rem center;
  -moz-transform-origin: 0.10714rem center;
  -o-transform-origin: 0.10714rem center;
  transform-origin: 0.10714rem center; }

.lines:before {
  top: 0.5rem; }

.lines:after {
  top: -0.5rem; }

.menu-x {
  background: transparent; }

.menu-x:after, .menu-x:before {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #fff;
  top: 0;
  width: 1.5rem; }

.menu-x:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -o-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }

.menu-x:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -o-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

/*------menubtnEnd-------*/
/*---------------------------------------BUTTON END-------------------------------------*/
/*---------------------------------------ANIMATION-------------------------------------*/
.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0); } }
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%); }
  100% {
    -moz-transform: translateY(0); } }
@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%); }
  100% {
    -o-transform: translateY(0); } }
@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown; }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%); } }
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0); }
  100% {
    -moz-transform: translateY(-100%); } }
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0); }
  100% {
    -o-transform: translateY(-100%); } }
@keyframes slideUp {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100%); } }
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp; }

/*---------------------------------------ANIMATION END-------------------------------------*/
.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animsition-loading {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23ccc%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) center center no-repeat;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animsition-loading:after {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  content: "Loading"; }

.animsition-overlay-slide {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  -webkit-animation-name: fade-in;
  -o-animation-name: fade-in;
  animation-name: fade-in; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fade-out {
  -webkit-animation-name: fade-out;
  -o-animation-name: fade-out;
  animation-name: fade-out; }

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
    transform: translateY(500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-o-keyframes fade-in-up {
  0% {
    opacity: 0;
    -o-transform: translateY(500px);
    transform: translateY(500px); }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
/*---------------------------------------MASONRY END-------------------------------------*/
.container {
  width: 960px;
  position: relative;
  margin: 0 auto !important; }

.item {
  width: 300px;
  background-color: transparent;
  height: auto;
  margin: 10px; }
  .item img {
    width: 100%; }

.item.w2 {
  width: 620px;
  background-color: transparent;
  height: auto;
  margin: 10px; }
  .item.w2 img {
    width: 100%; }

.item .item-mask {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none; }
  .item .item-mask .item-info {
    position: absolute;
    bottom: 0;
    margin: 0 0 30px 30px; }
    .item .item-mask .item-info h3 {
      color: #f9d761;
      letter-spacing: 4px;
      font-size: 1rem;
      margin-bottom: 10px; }
    .item .item-mask .item-info h2 {
      color: white;
      font-size: 3rem;
      width: 80%;
      line-height: 100%; }
.item:hover .item-mask {
  display: block;
  z-index: 1; }

/*---------------------------------------MASONRY END-------------------------------------*/
/*---------------------------------------BACK TO TOP -------------------------------------*/
#elevator_item {
  width: 60px;
  height: 100px;
  position: fixed;
  right: 6%;
  bottom: 10px;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  opacity: 1;
  z-index: 100020;
  display: none; }

#elevator_item.off {
  opacity: 0;
  visibility: hidden; }

#elevator {
  display: block;
  padding: 10px;
  cursor: pointer; }

#elevator:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); }

#elevator:active {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); }

#elevator_item .qr {
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: url(../img/icon_code.png) center center no-repeat;
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.6); }

#elevator_item .qr:hover {
  background-color: rgba(0, 0, 0, 0.7); }

#elevator_item .qr:active {
  background-color: rgba(0, 0, 0, 0.75); }

#elevator_item .qr-popup {
  width: 170px;
  height: 200px;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -180px;
  bottom: 0;
  border-radius: 2px;
  display: none;
  text-align: center; }

#elevator_item .qr-popup .code-link {
  display: block;
  margin: 10px;
  color: #777; }

#elevator_item .qr-popup .code {
  display: block;
  margin-bottom: 10px;
  width: 100%; }

#elevator_item .qr-popup .arr {
  width: 6px;
  height: 11px;
  background: url(../img/code_arrow.png) 0 0 no-repeat;
  position: absolute;
  right: -6px;
  bottom: 14px; }

/*---------------------------------------BACK TO TOP END-------------------------------------*/
/*---------------------------------------WORKS PAGES-------------------------------------*/
.demo-img, .demo-img-full-width {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  text-align: center; }
  .demo-img img, .demo-img-full-width img {
    width: 85%; }

.demo-img-full-width img {
  width: 98%; }

.text-content {
  width: 80%;
  max-width: 650px;
  margin: 100px auto; }

.slider-wrapper {
  width: 70%;
  max-width: 814px;
  position: absolute;
  top: -250px;
  margin: auto;
  left: 0;
  right: 0; }
  .slider-wrapper .bx-pager {
    display: none; }
  .slider-wrapper .bx-wrapper img {
    max-width: 100%;
    display: block;
    width: 100%;
    margin-top: 10px; }
  .slider-wrapper .bx-wrapper .bx-controls {
    z-index: 100;
    position: static;
    top: 50%; }

.story-book-slider {
  top: -210px; }
  .story-book-slider .bx-wrapper .bx-prev {
    background: url(../img/left-arrow-black.png) no-repeat 0 0;
    background-size: 100%; }
  .story-book-slider .bx-wrapper .bx-next {
    background: url(../img/right-arrow-black.png) no-repeat 0 0;
    background-size: 100%; }

.wellfest-long-height-frame {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  width: 73%;
  margin: auto;
  top: -165px; }
  .wellfest-long-height-frame div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; }

/*---------------------------------------WORKS PAGES END-------------------------------------*/
/*---------------------------------------ABOUT PAGES END-------------------------------------*/
.about-me-wrapper {
  width: 80%;
  max-width: 600px;
  height: 75%;
  margin: auto;
  text-align: center;
  color: white;
  top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden; }

.about-me {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: initial;
  padding-right: 17px;
  /* Increase this value for cross-browser compatibility */ }
  .about-me .me {
    width: 130px;
    height: 130px;
    margin: 0 auto 20px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .about-me .me img {
      width: 100%; }
  .about-me p {
    font-size: 1.2rem; }
    .about-me p a {
      color: #f9d761; }

.contact-list {
  font-size: 3rem;
  list-style-type: none; }
  .contact-list a {
    color: white; }
    .contact-list a:hover {
      color: #f9d761; }
  .contact-list li {
    margin: 20px; }

/*---------------------------------------ABOUT PAGES END-------------------------------------*/
/*================================MEDIA QUERIES FROM HERE=======================================*/
/* Landscape phones and down */
@media (max-width: 639px) {
  h1 {
    font-size: 2em; }

  button {
    padding: 13px 50px; }

  .cover-title {
    width: 85%; }

  .container {
    width: 100%; }

  .see-more-works {
    width: 90%;
    position: relative;
    left: -5px; }

  .item {
    width: 90%;
    margin: 4%;
    margin-bottom: 1%; }

  .item.w2 {
    width: 90%;
    margin: 4%;
    margin-bottom: 1%; }

  .story-book-slider {
    top: -230px; }

  .wellfest-long-height-frame {
    top: -185px;
    width: 74.5%; }

  .qr {
    display: none !important; }

  #elevator {
    margin-top: 30px !important; } }
/* Landscape phone to portrait tablet */
@media (min-width: 640px) and (max-width: 780px) {
  .cover-title {
    width: 70%; }

  nav {
    display: none; }

  .menu-toggle {
    display: block; }

  h4 {
    font-size: 18px;
    line-height: 20px; }

  textarea {
    width: 90%; }

  .container {
    width: 80%; }

  .see-more-works {
    width: 80%; }

  .item {
    width: 47%;
    margin: 1%; }

  .item.w2 {
    width: 47%;
    margin: 1%; }

  .story-book-slider {
    top: -230px; }

  .wellfest-long-height-frame {
    top: -180px; }

  .qr {
    display: none !important; }

  #elevator {
    margin-top: 30px !important; } }
/* Portrait tablet to landscape and desktop */
@media (min-width: 781px) and (max-width: 979px) {
  .container {
    width: 750px; }

  .item {
    width: 228px;
    margin: 10px; }

  .item.w2 {
    width: 476px;
    margin: 10px; }

  .wellfest-long-height-frame {
    top: -175px; }

  .story-book-slider {
    top: -230px; } }
/* Large desktop */
@media (min-width: 1200px) {
  .container {
    width: 1200px; }

  .item {
    width: 370px;
    margin: 15px; }

  .item.w2 {
    width: 770px;
    margin: 15px; } }
@media (max-width: 410px) {
  .slider-wrapper {
    top: -210px; }

  .story-book-slider {
    top: -200px; } }

/*# sourceMappingURL=custom.css.map */
