




.desaturate{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}


.see-more-works{
    @include transition(all 0.3s ease);
    @include border-radius(3px);

    background-color: #444;
    width: 100%;
    max-width: 500px;
    margin:30px auto 0;
    padding:20px;
    text-align: center;
    color: white; 

    &:hover{opacity:.8;color:#f9d761;}
}






















